.App {
  width:100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: ffff; 
  
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
      --apex-primary: #0A3A67;   /* deep academic blue */
      --apex-accent:  #F2B632;   /* prestige gold */
      --apex-secondary:#4F8FC0;  /* tech blue */
      --apex-dark:    #222222;   /* neutral dark */
      --apex-bg:      #F9F9F9;   /* page background */
    }